Prototypes/CCDev/VS2010/TestAddressService/TestAddressService/Service References/AddressWebService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://services.endsleigh.co.uk/AddressLookup/V1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://services.endsleigh.co.uk/AddressLookup/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://addresslookup.commonservices.endsleigh.co.uk/Service.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://services.endsleigh.co.uk/AddressLookup/V1/Imports">
      <xsd:import schemaLocation="http://addresslookup.commonservices.endsleigh.co.uk/Service.svc?xsd=xsd0" namespace="http://services.endsleigh.co.uk/AddressLookup/V1" />
      <xsd:import schemaLocation="http://addresslookup.commonservices.endsleigh.co.uk/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://addresslookup.commonservices.endsleigh.co.uk/Service.svc?xsd=xsd2" namespace="http://services.endsleigh.co.uk/AddressLookup/V1/Messages" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_LookupAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:LookupAddress" />
  </wsdl:message>
  <wsdl:message name="IService_LookupAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:LookupAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IService_LegacyLookupAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:LegacyLookupAddress" />
  </wsdl:message>
  <wsdl:message name="IService_LegacyLookupAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:LegacyLookupAddressResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="LookupAddress">
      <wsdl:input wsaw:Action="http://services.endsleigh.co.uk/AddressLookup/V1/IService/LookupAddress" message="tns:IService_LookupAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://services.endsleigh.co.uk/AddressLookup/V1/IService/LookupAddressResponse" message="tns:IService_LookupAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LegacyLookupAddress">
      <wsdl:input wsaw:Action="http://services.endsleigh.co.uk/AddressLookup/V1/IService/LegacyLookupAddress" message="tns:IService_LegacyLookupAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://services.endsleigh.co.uk/AddressLookup/V1/IService/LegacyLookupAddressResponse" message="tns:IService_LegacyLookupAddress_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="i0:BasicHttpBinding_IService">
      <soap:address location="http://addresslookup.commonservices.endsleigh.co.uk/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>